@charset "utf-8";

a:hover{
	cursor:pointer;
}
.fblock{
	width: 70%;
	height: 400px;
	background-color: rgba(255, 255, 255, 0.5);
	display: block;
	margin-left: auto;
	margin-right: auto;
	position:relative;	
	top: 100px;
}
.fblock h2{
	text-align: center;
}
.fblock input{
	width: 300px;
	height: 30px;
}
.fblock p{
	font-size: 1.7em;
}
.fblock h2{
	font-size: 2.7em;
	padding-top: 20px;
	padding-bottom: 20px;
}
.form-block-input{
	width: 70%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.left-form{
	float: left;
	margin-right: 23px;
	height: 200px;
	width: 48%;
}
.right-form{
	float: left;
	height: 200px;
	width: 48%;
}
.right-form textarea{
	height: 162px;
	width: 100%;
}
.left-form input{
	margin-bottom: 10px;
	width: 100%;
}
.fblock button{
	background-color: lightgreen;
	width: 200px;
	height: 50px;
	display: block;
	margin-right:auto;
	margin-left:auto;
	border-top: 4px solid green;

}
.ftext-logistics img{
	width: 200px;
	height: auto;
}
footer{
	background-image: url(../images/footerbg.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	width: 100%;
}
.fcontent{
	padding-top: 70px;
	width: 70%;
	display: block;
	margin-right:auto;
	margin-left: auto;

}
.ftext a{
	color: white;
	font-size: 1.2em;
	top: 15px;
	position:relative;
}
.ftext p{
	color: white;
	font-size: 2em;
	font-weight: 600;
}
.ftext a{
	margin-right: 5px;
}
.fblock-1, .fblock-2, .fblock-3{
	width: 100%;
	display: block;
	margin-right:auto;
	margin-left:auto;
	transition: 0.5s ease;
	float: left;
}
.fblock-3{
	text-indent: 9000 !important;
}
.fblock-3 .slick-slider{
	width: 100% !important;
	padding-top: 20px
}
.slick-list{
	width: 90%;
	display:block !important;
	margin-right:auto;
	margin-left:auto;
	padding-right: 20px;
}
.fblock-1{
	padding-bottom: 30px;
}
.fblock-contacts, .fblock-lists, .fblock-soc-icons{
	float: left;
	transition: 0.5s ease;
	position:relative;
	width: 33.3%;
	transition: 0.5s ease;
}
.fblock-lists, .fblock-soc-icons{
	text-align:center;
}
.fblock-contacts a{
	transition: 0.5s ease;
	text-decoration:none;
}
.fblock-contacts a:hover{
	text-decoration:underline;
}
.ftext{
	float: right;
	width: 60%;
}
.fcontent-logo{
	width: 40%;
	float: left;
}
.fcontent-logo img{
	width: 222px;
	height: 56px;
}

.fblock-2 a, .fblock-lists h2, .fblock-2 p, .fblock-2 h4, .fblock-lists a{
	color: white;
}
.fblock-contacts h4, .fblock-lists h4{
	font-size: 1.7em;
}
.fblock-contacts a, .fblock-lists a{
	font-size: 2em;
	line-height: 2;
}
.fblock-contacts ul, .fblock-lists ul{
	list-style-type: none;
	padding-left: 0 !important;
}
.fblock-contacts{

}

.fblock-3 h2{
	font-size: 3em;
	color: white;
	text-align: center;
	margin-bottom: 20px;
}
.fblock-3{
	margin-top: 50px;
	width: 100%;
	float: left;
}
.crm-webform-label-title-container {
    font-size: 3em;
}
.fblock-contacts a{
	padding-left: 10px;
}
.fblock-contacts i{
	font-size: 1.2em;
	color: white;
	padding-right: 25px;
	padding-bottom: 5px;
}
.fblock-soc-icons h2{
	color: white;	
	padding-bottom: 30px;
}
.ico-tel{
	background-image:url(../images/ico/phone.png);
	background-repeat: no-repeat;
	background-size: 60%;
}
.ico-mail{
	background-image:url(../images/ico/letter.png);
	background-repeat: no-repeat;
	background-size: 60%;
}
.ico-skype{
	background-image:url(../images/ico/skype.png);
	background-repeat: no-repeat;
	background-size: 60%;
}
/*form*/
.contact-form{
    width: 85%;
    display:block;
    transition: 0.5s ease;
	padding : 2em 0 5.5em 0;
}
.form-content{
	transition: 0.5s ease;
	width: 70em;
	float: left;
	overflow : auto;
}
.form-content iframe{
	min-height : 500px; overflow : visible!important;
}
.form-header p{
	padding-bottom: 30px;
	text-align: center;
	font-size: 2em;
	width: 500px;
	display: block;
	margin-right:auto;
	margin-left:auto;
	transition: 0.5s ease;
}
.form-header{
	display: block;
	margin-left:auto;
	margin-right:auto;
	max-width: 65%;
	transition: 0.5s ease;
	margin-bottom: 10px;
	padding :0 1em 0 0.5em;
}

.form-side-text h3{
	color: #0c64e6;
	font-size: 2.7em;
	font-weight: 600;
	transition: 0.5s ease;
}
.form-side-text{
	transition: 0.5s ease;
	max-width: 43em;
	padding : 0 0 0 7em;
}
.form-side-text p{
	margin-top: 20px;
	font-size: 2em;
	transition: 0.5s ease;
}
.form-side-img{
	transition: 0.5s ease;
	float: left;
	padding-top: 3em;
	display: block;
}


.slick-arrow.slick-hidden {
    display: none;
}
.slick-prev{
	position:relative;
	border: none;
    background-image: url(./../images/ico/arrow-left.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 30px;
    height: 50px;
    background-color: transparent;
    float: left;
    opacity: 0.68;
    transition: 0.5s ease;
    text-indent: 9000px;
}
.slick-next{
	text-indent: 9000px;
	border: none;
	float: right;
	background-image: url(./../images/ico/arrow-right.png);
	opacity: 0.68;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 30px;
	height: 50px;
	background-color: transparent;
	position:relative;
	top: -48px;
	transition: 0.5s ease;
}

.slick-slide img{
    height:auto;
    margin: auto;
    width: 170px;
    transition: 0.5s ease;
}
@media (max-width: 1350px){
	.contact-form{
		width: 100%;
	}
	.form-content{
		width: 650px;
	}
	.form-side-text{
		padding-right: 0;
	}
}
}
@media (max-width: 1650px){
	.form-content{
		width: 48em;
	}
}
@media (max-width: 1150px){
	.form-side-text{
		width: 50%;
	}
	.slick-prev{
		top: -10px;
	}
	.slick-slide img{
		height:auto;
		margin: auto;
		width:120px;
	}
}
@media (max-width: 1050px){

	.fancybox-inner .imgl img{
		width: 100%;
		height: auto;
	}
	.fancybox-inner .imgl{
		width: 100%;
	}
}
.phones span{
		color: white;
	}
@media (max-width: 992px){
	.fancybox-stage .d1.bgrey{
		padding-top:0 !important;
	}
	.phones span{
		color: #008aef !important;
	}
	.b1 span, .b1 h1, .b1 p{
		margin: auto !important;
	}
	.slick-next{
		top: -42px;
	}
	.slick-prev{
		top: -10px;
	}
	.slick-slide img{
		height:auto;
		margin: auto;
		width:120px;
	}
	.header.t{
		z-index: 6;
		width: 100% !important;
	}
	

	
	.b24-web-form-popup-btn-7{
		
	}
	.header .phones {
		/*display: none !important;*/
		float: left;
		bottom: 50px;

	}
	.carousel{
		/* right: 5%; */
	}
	.header .phones a{
		display: block !important;
		margin-right:auto !important;
		margin-left:auto !important;
		float: none !important;
	}
	.header .logo{
		position:relative;
		z-index: 5;
		/*float: left;*/
	}
	.b1.t{
		overflow: hidden;
	}
	.bgrey.d1{
		padding: 20em 0em 3em!important;
	}
	a.btn:hover{
		color: #008bef;
		background-color: white;
		border: 1px solid #008bef;
	}
	.form-content{float : none;}
	.form-content-block .form-side-text h3{margin-top : 0em;}
/*	.contact-form .form-side-text{display : none;}*/
}

@media (max-width: 900px){
	.b4 .txt{
		display: block !important;
	}
	.b1 .bgrey p, .bgrey h1, .bgrey span, .bgrey{
		width: 95% !important;
		margin-right: 0 !important;
		padding-right: 0 !important;

	}
	.b1 .bgrey{
		padding: 12em 0em 3em;
		margin-right: 0 !important;
		width: 90% !important;

	}
	.bgrey{
		width: 100% !important;
	}
	.form-header p{
		width: 100%;
	}
	.txt h2{
		outline: 1px 
		width: 46% !important;
	}
	.bblue.d2{
		width: 100% !important;
		position:relative;
	}
	.b1{
		position:relative;
	}
	.b24-web-form-popup-btn-7.btn{
		position:relative;
		z-index:4;
	}
	.fcontent-logo, .ftext{
		width: 100%;
		text-align: center;
		padding-bottom: 30px;
	}
	
	.b5 .d6.bblue{display : none;}
	
}
footer{
	transition: 0.5s ease;
}
@media (max-width: 380px){
	.fblock-contacts-list{
		display:block;
		margin-right:auto;
		margin-left:auto;
		width: 230px !important;
	} 
    /*Begin*/
    .btn2.fancybox{
        width: 80%;
    }
    .btn2.fancybox{
        width: 80%;
    }
    .btn2.stregister{
        width: 80%;
    }
    .d2 .btn1.stregister{
        width: 80%;
    }
    /*размер телефоноф футер*/
    .fblock-contacts ul{
        font-size: 1.4em;
    }
    /*End*/
	.d3 h2{
		font-size: 1.4em !important;
	}
	.fancybox-inner h1{
		font-size: 2.2em !important;
	}
	.fancybox-inner #speaker{
		transition: 0.5s ease;
		width: 100% !important;
	}
	footer{
	}
    .slick-track .slick-slide img{
    width:40px !important;
    }
     .slick-next.slick-arrow{
      top: -30px !important;
     }
     .slick-prev.slick-arrow{
      top: -18px !important;
     }
}
@media (max-width: 480px){

	.d3 h2{
		font-size: 2em !important;
	}
	.carousel{
		margin-right:auto;
		margin-left:auto;
		display:block;
		right: 5%;
	}
	.b4 .imgl1, .b4 .txt, .b5 .d6{
		width:100%; 
		max-width : 100%; 
		margin : auto; 
		float : none; 
		text-align : center;
	}
	h1{
		font-size: 3em !important;
	}
	h2{
		font-size: 3em !important;
	}
	h3{
		font-size: 2.3em !important;
	}
	footer h2{
		font-size: 2em !important;
	}

	.slick-slide img{
		height:auto;
		margin: auto;
		width:60px !important;
	}
	.slick-next{
		top: -32px !important;
	}
	.slick-prev{
		top: -15px !important;
	}
}
@media (max-width: 560px){
	.b5{
		background-size: cover !important; 
	}
	.b2 .w1198 .image{
		display: block;
		margin-right:auto;
		margin-left:auto;
		float: none !important;
		margin-bottom: 2em;
		max-width: 100%;
		width: 90%;
	}
	

}
.b2 .w1198 .image, .w1198 .txt{
	transition: 1s ease;
}
@media (max-width: 640px){
	#speaker button:after{
		font:62px/30px Arial,Helvetica Neue,Helvetica,sans-serif
	}
	.form-content-block .form-side-text h3{	
		margin-top: 40px;	
		font-size: 2.3em;
	}
	.slick-list{
		position:relative;
		width: 90% !important;
		right: 5%;
		padding: 0;
	}
}
@media (max-width: 850px){
	.slick-list{
		position:relative;
		width: 80% !important;
		right: 2%;
	}
	.d4.w870{
		padding-left: 5%;
		padding-right: 5%;
	}
	.b2 .w1198 .image{
		display: block;
		margin-right:auto;
		margin-left:auto;
		float: none !important;
		margin-bottom: 2em;
		max-width: 100%;
		width: 90%;
		transition: 1s ease;
	}
	.w1198 .txt{
		float: none !important;
		display:block;
		margin-right:auto;
		margin-left:auto;
		max-width: 90% !important;
		transition: 1s ease;
	}
	.b2 .w1198 .image img{
		width: 100% !important;
		height: auto;
		padding-bottom:1em;
	}
	.fblock-contacts-list{
		display:block;
		margin-right:auto;
		margin-left:auto;
		width: 180px;
	} 
	.fblock-2 h4, .fblock-2 h2{
		padding-bottom: 1em;
		text-align: center;
	}
	.fblock-contacts, .fblock-lists, .fblock-soc-icons{
		width: 100%;
		padding-bottom: 30px;
	}
	.fcontent-logo, .ftext{
		width: 100%;
		text-align: center;
		padding-bottom: 30px;
	}
	.b1 .bgrey *{
		width : 96%; 
		margin : auto;
	} 
	.b1 .bgrey {
		padding: 12em 0 3em; 
	} 
	.b1 .bblue {     
		padding-left: 2%;     
		padding-right: 2%;  
		width : 96%!important; 
	}
	.slick-next{
		top: -37px;
	}
	.slick-prev{
		top: -10px;
	}
	.slick-slide img{
		height:auto;
		margin: auto;
		width:80px;
	}
	footer{
	}
	.fcontent{
		float: none;
		position: relative;
		height: auto;
	}
}
#speaker .slick-prev{
	width: 50px;
	top: 90px;
}
#speaker .slick-next{
	width: 50px;
	top: -140px;
	left: -15px;
}
#speaker .slick-list{
	width: 90%;
}

